@page
@model IndexModel
@{
    ViewData["Title"] = "ToDo List";
}

<h1>ToDo List</h1>

<a class="btn btn-primary" asp-page="/Create">+ Add New</a>
<table class="table table-bordered mt-3">
    <thead>
        <tr>
            <th>Title</th>
            <th>Is Done?</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Items)
    {
        <tr>
            <td>@item.Title</td>
            <td>@item.IsDone</td>
            <td>
                <a asp-page="/Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="/Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
